.btn_itemss{
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 10px;
}
.btn_footerr{
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_glyphs_798b49104da7.png/798b49104da7.png");
  background-repeat: no-repeat;
  background-size: 450px 450px;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.like{
  background-position:-406px 0 ;
}
.comment {
  background-position:-382px -338px ;
}
.repost{
  background-position:-44px -402px ;
}
.save{
  background-position:-133px -427px ;
  margin-left: 79%;
}
